body {
	
}

#nome{
	width: 100%;

}
.titulos-centralizados {
	text-align: center; background: #660000 ;
}
.primeiro{
	background: #0000AA;
	padding: 50px;

}

.titulo {
	padding-left: 50px;
}
p {
	text-align: center;
	}

#escolhemos {
	font-size: 26px
}

em strong{
	color: #FF5555

}

.bene{
	font-style: italic;
}




.Benefícios {
	background: #008800;
}



ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}
.segundaIMG {
	width: 30%;
}

